<section id="annual-record" class="card">
    <h2 class="title">Filtro de Dados</h2>
    <div class="labels">
        <button onclick="filterChart('Mal')">Mal</button>
        <button onclick="filterChart('Bom')">Bom</button>
        <button onclick="filterChart('Sem resposta')">Sem resposta</button>
    </div>
    <div id="g-annual" class="graph"></div>
    <script>
        // Dados para cada label
        var dataMal = [30, 40, 45, 50, 49, 60, 70, 91, 125, 130, 150, 180];
        var dataBom = [90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35];
        var dataSemResposta = [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65];

        // Cores para cada label
        var colors = {
            'Mal': '#023047',          // Vermelho
            'Bom': '#45C4B0',          // Verde
            'Sem resposta': '#8195A8'   // Azul
        };

        // Obtém o mês atual
        var mesAtual = new Date().getMonth();
        var mesesAno = [
            'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
            'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'
        ];

        // Cria um array com os nomes dos meses do ano
        var meses = [];

        for (var i = mesAtual - 11; i <= mesAtual; i++) {
            var mes = (i < 0 ? 12 + i : i) % 12; // Ajusta o índice para garantir um valor entre 0 e 11
            meses.push(mesesAno[mes]);
        }

        // Define o intervalo do eixo X para exibir os meses do ano
        var xaxisRange = {
            min: new Date().getFullYear() - 1 + '-' + (mesAtual + 1) + '-01',
            max: new Date().getFullYear() + '-' + (mesAtual + 1) + '-01'
        };

        // Dados iniciais do gráfico
        var initialData = dataMal;
        var initialColor = colors['Mal'];

        var line_options = {
            series: [{
                data: initialData
            }],
            chart: {
                id: 'line-chart',
                height: 350,
                type: 'line',
                animations: {
                    enabled: true,
                    easing: 'linear',
                    dynamicAnimation: {
                        speed: 1000
                    }
                },
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth',
                colors: [initialColor]
            },
            markers: {
                size: 0
            },
            xaxis: {
                type: 'category',
                categories: meses,
            },
            yaxis: {
                max: 200
            },
            legend: {
                show: false
            }
        };
        var line_chart = new ApexCharts(document.querySelector("#g-annual"), line_options);
        line_chart.render();

        // Filtrar o gráfico com base na label selecionada
        function filterChart(label) {
            var newData, newColor;

            if (label === 'Mal') {
                newData = dataMal;
                newColor = colors['Mal'];
            } else if (label === 'Bom') {
                newData = dataBom;
                newColor = colors['Bom'];
            } else if (label === 'Sem resposta') {
                newData = dataSemResposta;
                newColor = colors['Sem resposta'];
            }

            line_chart.updateOptions({
                stroke: {
                    colors: [newColor]
                }
            });
            line_chart.updateSeries([{ data: newData }]);
        }
    </script>
</section>