<div class="modal-wrapper d-none" id="modal-deletar">
    <div id="modal-del-monitor" class="modal col space-evenly vertical-center"> 
        <span class="modalIcon alertIcon"></span> 
        <div class="modal-text">Tem certeza de que deseja excluir este monitor?</div>
            <form class="d-flex">
                <input type="hidden" name="id" id="del_id">
                <div class="modal-btns"> 
                    <a id="btnModalCancel" class="btn-terciary">Cancelar</a> 
                    <button type="button" class="btn-danger" id="btnDelete">Deletar</button> 
                </div>                 
            </form>             
        </div>
    </div>
</div>