<div class="col horizontal-center">
    <label class="align-self" for=""><img id="preview" src="static/imgs/figures/imagem-padrao.jpg" alt="Foto de Perfil"></label>
    <label class="lbl-upload-picture" for="upload-picture"> Upload de Imagem 
        <input class="" type="file" id="upload-picture" name="foto" accept="image/*" onchange="previewImage(event)">
    </label>
</div>

<script>
    // Função para exibir a prévia da imagem antes de fazer o upload
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var preview = document.getElementById("preview");
            preview.src = reader.result;

            openOverlay(event); // Chamada movida para dentro do onload
        }
        reader.readAsDataURL(event.target.files[0]);
    }

    // Função para abrir a tela sobreposta em uma nova janela
    function openOverlay(event) {
        event.preventDefault();
        var image = document.getElementById("preview").src;
        var url = "overlay.html?image=" + encodeURIComponent(image);
        window.open(url, "overlayWindow", "width=400,height=400");
    }
</script>
