<aside class="aside-profile">
    <!--Aqui será o profile-->
    <img id="preview" src="static/imgs/figures/imagem-padrao.jpg" alt="Foto de Perfil">

    <form class="form-upload-picture" action="/cadastrar" method="POST" enctype="multipart/form-data">
        <div class="d-flex horizontal-center">
            <label class="lbl-upload-picture" for="upload-picture"> Upload de Imagem
                <input class="" type="file" id="upload-picture" name="foto" accept="image/*" onchange="openOverlay(event)">
            </label>
        </div>
        <!-- Div para exibir a prévia da imagem -->
        <div id="image-preview" class="image-preview"></div>
        <div class="mt-30">
            <div id="" class="col">
                <label class="lbl-white fs-14 mt-10" for=""> Tipo Sanguíneo </label>
                <select id="" class="input_dark_blue" name="sangue">
                    <option class="op-color" value="A+">A+</option>
                    <option class="op-color" value="A-">A-</option>
                    <option class="op-color" value="B+">B+</option>
                    <option class="op-color" value="B-">B-</option>
                    <option class="op-color" value="AB+">AB+</option>
                    <option class="op-color" value="AB-">AB-</option>
                    <option class="op-color" value="O+">O+</option>
                    <option class="op-color" value="O-">O-</option>
                </select>
            </div>
            <div id="" class="col">
                <label class="lbl-white fs-14 mt-10" for=""> Altura </label>
                <input class="input_dark_blue" type="text" name="altura">
            </div>
            <div id="" class="col">
                <label class="lbl-white fs-14 mt-10" for=""> Peso </label>
                <input class="input_dark_blue" type="text" name="peso">
            </div>
        </div>
    </form>
</aside>

<script>
    // Função para exibir a prévia da imagem antes de fazer o upload
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var preview = document.getElementById("preview");
            preview.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }

    // Função para abrir a tela sobreposta em uma nova janela
    function openOverlay(event) {
        event.preventDefault();
        var image = document.getElementById("preview").src;
        var url = "overlay.html?image=" + encodeURIComponent(image);
        window.open(url, "overlayWindow", "width=400,height=400");
    }
</script>
