{% include 'blades/header.html' %}
<div class="wrapper d-flex row">
    {{ sidebar('User', 'user.png') | safe }}
    <main class="container w-auto">
        <header class="header row space-between w-auto">
            <h1 class="title">Dashboard Overview</h1>
            <input type="search">
        </header>
        <section class="dashboard">
            {{ daily_record('User') | safe }}
            {{ welcome_card('User') | safe }}
            <section id="monthly-record" class="card"></section>
        </section>
    </main>
</div>
{% include 'blades/footer.html' %}