{% include 'blades/header.html' %}

<div class="">
    <main class="main-login">
        <section class="side-left"> <!--Left side-->
            <div> 
                <img class="logo" src="{{ url_for('static', filename='imgs/figures/Tera-logo.png') }}" alt="Meditate" class="meditateFig">    
            </div>
            <div class="div-login">
                <div>
                    <h2>Faça o login</h2>
                    <form id="form-login" class="form-login" method="post" action="/setsession">
                        <div class="col">
                            <label class="lbl-green" for="">Login do usuário</label>
                            <br>
                            <input class="txt-login" type="text" name="user-login" required>
                        </div>
                        <div class="col">
                            <label class="lbl-green" for="">Senha</label>
                            <br>
                            <input class="txt-login" type="password" name="user-password" required>
                            <p class="p-senha">Esqueceu a senha?</p>
                        </div>
                        <button type="submit" class="btn-login"><!--<a href="\dashboard">Entrar</a>-->Entrar</button>
                    </form>
                    <h3>{{ pacientes_count }}</h3>
                </div>
            </div>
            <div class="div-copy">
                <p class="p-copy">
                    Copyright ©2022 Tera. Desenvolvido por <span class="span-copy">AJA</span> 
                </p>
            </div>
        </section>

      <section class="side-right"> <!--Right side-->
        <!-- <img class="img-lateral" src="{{ url_for('static', filename='imgs/figures/img-lateral.png') }}" alt="Meditate" class="meditateFig"> -->
      </section> 
    </main>
</div>

{% include 'blades/footer.html' %}