<div class="overlay-content">
    <div class="image-container">
        <img id="overlay-image" src="" alt="Imagem">
    </div>
    <div class="button-container">
        <input type="range" id="rotation-range" min="0" max="360" step="1">
        <button id="save-button">Salvar</button>
    </div>
</div>

<style>
    /* overlay.html - CSS */

    .overlay-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .image-container {
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    #overlay-image {
        max-width: 100%;
        max-height: 100%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<script>
    // Obter o parâmetro da imagem passado na URL
    var urlParams = new URLSearchParams(window.location.search);
    var image = urlParams.get('image');
    var overlayImage = document.getElementById('overlay-image');
    overlayImage.src = image;

    // Evento de clique no botão de salvar na tela sobreposta
    var saveButton = document.getElementById("save-button");
    saveButton.addEventListener("click", function () {
        // Aqui você pode adicionar a lógica para salvar a imagem
        // e enviar os dados para o servidor

        // Após salvar a imagem, fechar a janela sobreposta
        window.close();

        // Obtenha a referência da imagem na página principal
        var mainProfileImage = window.opener.document.getElementById("preview");

// Atualize o atributo src da imagem principal com a nova imagem
mainProfileImage.src = overlayImage.src;

    });

    // Evento de alteração no range de rotação
    var rotationRange = document.getElementById("rotation-range");
    rotationRange.addEventListener("input", updateOverlayImageRotation);

    // Função para atualizar a imagem na tela sobreposta com base no ângulo de rotação
    function updateOverlayImageRotation() {
        var range = document.getElementById("rotation-range");
        var angle = range.value;
        var image = document.getElementById("overlay-image");
        image.style.transform = "rotate(" + angle + "deg)";
    }
</script>