{% include 'blades/header.html' %}
<div class="wrapper row">
    {{ sidebar('User', 'user.png') | safe }}
    <main class="w-100">
        {{ header_title('Visualização Individual do Paciente') | safe }}
        <section class="patient-card_main row m-30 mb-20">
            <div class="patient-card_data row space-between">
                <article class="patient-card_article col vertical-center">
                    <div class="col vertical-center">
                        <div class="off-3-dias p-5 w-80">
                            <div class="bolinha-verm"></div>
                            <p>Offline há 3 dia(s)</p>
                        </div>
                        <div class="borda-verm">
                            <img class="foto-paciente-risco" src="{{ url_for('static', filename='imgs/figures/imagem-padrao.jpg') }}" alt="Foto paciente">
                        </div>
                        <h3>Junior Alves Silva</h3>
                        <hgroup class="patient_hgroup row vertical-center space-between">
                            <h4 class="fs-12 fs-normal">25 anos</h4>
                            <hr class="vertical-line">
                            <h4 class="fs-12 fs-normal"><i class="fas fa-map-marker-alt"></i> Registro, SP</h4>
                        </hgroup>
                        <table>
                            <thead class="fs-12">
                                <tr>
                                    <th>Sangue</th>
                                    <th>Altura</th>
                                    <th>Peso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>O+</td>
                                    <td>186cm</td>
                                    <td>90kg</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
                <hr class="vertical-line h-60 m-20">
                <div class="col p-10">
                    <div class="row vertical-end fs-12 mb-20">
                        <p class="mr-30">Admissão: <data id="dt_admissao">22/05/2022</data></p>
                        <p>Alta: <data id="dt_alta">12/09/2022</data></p>
                    </div>
                    <div class="col mt-30">
                        <h2 class="title">Diagnóstico:</h2>
                        <p class="subtitle">Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="col mt-30">
                        <h2 class="title">Descrição do Laudo:</h2>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, nostrum.</p>
                    </div>
                    <div class="col mt-30">
                        <h2 class="title">Observações do Paciente:</h2>
                        <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere illum quod similique.</p>
                    </div>
                </div>
            </div>
            <div class="agenda col vertical-center w-auto">
                <div class="col">
                    <div class="col mt-30">
                        <h2 class="title fs-16 bold">Conversas Agendadas</h2>
                        <div class="row mt-20 fs-12">
                            <span class="bellIcon"></span>
                            <p>14 de Março <br> Prevenção de recaída <br> <time class="fs-10 fw-300">09:20AM - 11:30</time></p>
                        </div>
                    </div>
                    <hr class="horizontal-line w-100 mt-20">
                    <div class="col mt-20">
                        <h2 class="title fs-14 bold">Histórico</h2>
                        <div class="row mt-20 fs-12">
                            <span class="bellIcon"></span>
                            <p>14 de Março <br> Prevenção de recaída <br> <time class="fs-10 fw-300">09:20AM - 11:30</time></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="patient-card_dash mx-30 mb-30">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <div class="card col horizontal-center">
                            <div class="row">
                                <span class="feetIcon icon mr-10"></span>
                                <p><span class="fs-20 bold">200<em>/3000</em></span><br>Passos percorridos hoje</p>
                            </div>
                        </div>
                        <div class="card col horizontal-center">
                            <div class="row">
                                <span class="heartIcon icon mr-10"></span>
                                <p><span class="fs-20 bold">87<em> bpms</em></span><br>Média cardíaca de hoje</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card col horizontal-center">
                            <div class="row">
                                <span class="calIcon icon mr-10"></span>
                                <p><span class="fs-20 bold">408<em> kcal</em></span><br>Calorias queimadas hoje</p>
                            </div>
                        </div>
                        <div class="card col space-between">
                            <h2 class="title">Relatório</h2>
                            <div class="row vertical-center">
                                <div id="peso-chart" class="mr-20"></div>
                                <p>Perda de peso<br><span class="fs-12 fw-300 color-green">10% a menos</span></p>
                            </div>
                            <div class="row vertical-center">
                                <div id="health-chart" class="mr-20"></div>
                                <p>Saúde em geral<br><span class="fs-12 fw-300 color-blue">78% qualidade</span></p>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card vertical-center w-340">
                        <div class="row space-evenly vertical-center">
                            <div class="relative col center">
                                <div id="sono_chart"></div>
                                <div class='sono-chart_label col center mt-10'>
                                    <h2 class="fs-18">12%</h2>
                                    <p class="fs-12 w-80">A mais que ontem</p>
                                </div>
                            </div>
                            <p class="fs-18 bold">Horas de sono<br><span class="fs-14 fs-normal">5 horas e 33 min</span></p>
                        </div>
                    </div>
                    <div class="card vertical-center w-340">
                        <div class="col center">
                            <h2 class="title mb-20">Relatório de Humor Mensal</h2>
                            <div class="progress-bar w-80">
                                <div class="progress-bar_labels w-100 row space-between fs-18">
                                    <span>28%</span>
                                    <span class="color-primary">72%</span>
                                </div>
                                <div class="progress" style="width:72%;"></div>
                            </div>
                            <div class="row space-between p-5 w-80 fs-16">
                                <h4 class="fs-normal">Bem</h4>
                                <h4 class="fs-normal">Mal</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card w-340 center">
                        <div class="col vertical-center px-20">
                            <h2 class="title mb-20 text-rgt">Lembretes de Medicações</h2>
                            <div class="row vertical-center space-between w-250">
                                <span class="lembrete-hr col center">11h</span>
                                <p class="text-left fs-14"><span class="fs-bold">Fluoxetina</span><br>1 comprimido</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<script>
    var peso_options = {
          series: [90],
          chart: {
          height: 100,
          type: 'radialBar',
        },
          colors: ['#71DDB1'],
        plotOptions: {
          radialBar: {
            track: {
              background: "#6C95A0",
            },
            hollow: {
              size: '40%',
            },
            dataLabels: {
                show: false,
            },
          },
        }
    };
    var health_options = {
          series: [78],
          chart: {
          height: 100,
          type: 'radialBar',
        },
          colors: ['#3FBDF1'],
        plotOptions: {
          radialBar: {
            track: {
              background: "#6C95A0",
            },
            hollow: {
              size: '40%',
            },
            dataLabels: {
                show: false,
            },
          },
        }
    };

    var sono_options = {
          series: [69.38],
          chart: {
          type: 'radialBar',
          offsetY: 0,
          width: "140px",
          height: "220px",
        },
        colors: ['#71DDB1'],
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 135,
            hollow: {
                size: '50%',
            },
            track: {
              background: "#6C95A0",
              strokeWidth: '87%',
            //   margin: 5, // margin is in pixels
              
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                show: false,
              }
            }
          }
        },
        grid: {
          padding: {
            top: -10
          }
        }
        };

        var sono_chart = new ApexCharts(document.querySelector("#sono_chart"), sono_options);
        sono_chart.render();

    var peso_chart = new ApexCharts(document.querySelector("#peso-chart"), peso_options);
    peso_chart.render();
    var health_chart = new ApexCharts(document.querySelector("#health-chart"), health_options);
    health_chart.render();
</script>
{% include 'blades/footer.html' %}