{% include 'blades/header.html' %}
<div class="wrapper row">
    {{ sidebar('User', 'user.png') | safe }}
    <main class="container w-auto">
        {{ header_title('Cadastro do Paciente') | safe }}
        {{ welcome_card('User', False, '2 - Dados Médicos do Paciente') | safe }} <!--Aqui é o titulo da etapa-->
        <section>
            <section> <!--Formularios vao aqui-->

                <section class="d-flex horizontal-center"> <!--Parte de cima-->
                    <section class="section-form"> 
                        <form action="" class="col">
                            <input type="hidden" id="id-paciente"> <!--INPUT HIDDEN CODIGO PACIENTE-->
                            <div id="nome-grid" class="col">
                                <label class="lbl-green" for=""> Título do Diagnóstico </label>
                                <input class="input_blue width-600" type="text" name="diagnostico-paciente">
                            </div>
                            <div id="obs-grid" class="col mt-10" name="obs-paciente">
                                <label class="lbl-green" for=""> Descrição do Laudo </label>
                                <textarea class="textarea width-600" rows="8" name="descricao-diagnostico"></textarea>
                            </div>
                        </form>
                    </section>
                    <aside class="aside-data mt-30 ml-20"> <!--Datas-->
                        <form class="mt-20" action="">
                            <div class="col">
                                <label class="lbl-green" for="">Admissão</label>
                                <input class="input_dark_blue" type="date" name="data-admissao">
                            </div>
                            <div class="col mt-20">
                                <label class="lbl-green" for="">Alta</label>
                                <input class="input_dark_blue" type="date" name="data-alta">
                            </div>
                        </form>
                    </aside>
                </section>

                <section class="row horizontal-center"> <!--Parte de baixo-->
                    <article class="aside-meds mt-20 mr-20"> <!--Lembretes de Medicações-->
                        <h3 class="lbl-white fs-16 fs-normal text-rgt">Medicações Prescritas</h3>
                        <form class="col" action="">
                                <div class="d-flex vertical-center mt-20">
                                    <div class="col mr-20">
                                        <label class="lbl-green fs-14 ml-10" for="">Medicamento</label>
                                            <input class="input_med" type="text" name="medicamento-prescrito[]">
                                    </div>
                                    <div class="col">
                                        <label for=""  class="lbl-green fs-14 ml-10">Qtde</label>
                                        <input class="input_n_med" type="number" name="qtde-medicamento[]">
                                    </div>
                                    <img class="icon-add" onclick='removerParagrafo(this.parentNode)' src="{{ url_for('static', filename='imgs/icons/delete.svg') }}" alt="Icone Deletar">
                                </div>
                                <div id="novo-medicamento"></div>
                        </form>
                        <div id="add-medicamento" class="row">
                            <img class="icon-add" src="{{ url_for('static', filename='imgs/icons/add-green-icon.svg') }}" alt="Icone Adicionar">
                            <label class="lbl-green fs-14 ml-10 fs-normal align-self" for="">Adicionar Medicação</label>
                        </div>
                    </article>

                    <article class="aside-meds mt-20"> <!--Adicionar Lembretes de Medicações-->
                        <h2 class="lbl-white fs-16 text-rgt fs-normal">Adicionar Lembretes de Medicações</h2>
                        <form action="">
                            <div class="d-flex mt-20">
                                <div class="col mr-20">
                                    <label class="lbl-green fs-14 ml-10" for="">Hora</label>
                                    <input class="hr" type="time" name="hora-lembrete[]">
                                </div>
                                <div id="select-medicamento" class="col">
                                    <label class="lbl-green fs-14 ml-10" for=""> Medicamento </label> <!--Select dos medicamentos-->
                                    <select id="" class="input_med lbl-white" name="lembrete-medicamento[]">
                                        <option class="lbl-green" value="op1">Puxar remédio add acima</option>
                                        <option class="lbl-green" value="op2">Puxar remédio add acima</option>
                                        <option class="lbl-green" value="op3">Puxar remédio add acima</option>
                                    </select>
                                </div>
                                <img class="icon-add" onclick='removerParagrafo(this.parentNode)' src="{{ url_for('static', filename='imgs/icons/delete.svg') }}" alt="Icone Deletar">
                            </div>
                            <div id="novo-lembrete"></div>
                        </form>
                        <div class="row" id="add-lembrete">
                            <img class="icon-add" src="{{ url_for('static', filename='imgs/icons/add-green-icon.svg') }}" alt="Icone Adicionar">
                            <label class="lbl-green fs-14 ml-10 fs-normal align-self" for="">Adicionar Lembrete</label>
                        </div>
                    </article>
                </section>
            </section>

            <section class="d-flex horizontal-center mt-30"> <!--Aqui os botoes-->
                <a href="/paciente-dados" class="btn-font button btn-border-green mr-20">Voltar</a>
                <input class="btn-font-blue button btn-green mr-20" type="submit" value="Salvar" name="salvar">
                <a href="/paciente-familiar" class="btn-font button btn-border-green mr-20">Próximo</a>
            </section>
        </section>
        {{ progress_bar() | safe }}
    </main>
</div>
{% include 'blades/footer.html' %}