{% include 'blades/header.html' %}

<body>
    <h1>paciente-familiar.html</h1>
    <section class="d-flex horizontal-center"> <!--Aqui os botoes-->
        <a href="/paciente-diagnostico" class="btn-font button btn-border-green mr-20">Voltar</a>
        <input class="btn-font button btn-green mr-20" type="submit" value="Salvar" name="salvar">
        <a href="/dashboard" class="btn-font button btn-border-green mr-20">Próximo</a>
    </section>
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
</body>

{% include 'blades/footer.html' %}