{% include 'blades/header.html' %}
<div class="wrapper row">
    {{ sidebar() | safe }}
    <main class="w-auto">
        {{ header_title('Cadastro do Paciente') | safe }}
        {{ welcome_card('User', False, '2 - Dados Médicos do Paciente') | safe }} <!--Aqui é o titulo da etapa-->
        <form action="/paciente-diagnostico" method="POST" enctype="multipart/form-data">
            <section>

                <section class="d-flex horizontal-center"> <!--Parte de cima-->
                    <section class="section-form">
                        <div class="col">
                            <input type="hidden" id="id-paciente" > <!--INPUT HIDDEN CODIGO PACIENTE-->
                            <div id="nome-grid" class="col">
                                <label class="lbl-green" for=""> Título do Diagnóstico </label>
                                <input class="input_blue width-600" type="text" name="diagnostico-paciente" value="{{ session.get('dados_medicos', {}).get('diagnostico-paciente', '') }}" required>
                            </div>
                            <div id="obs-grid" class="col mt-10" name="obs-paciente">
                                <label class="lbl-green" for=""> Descrição do Laudo </label>
                                <textarea class="textarea width-600" rows="8" name="descricao-diagnostico" required>{{ session.get('dados_medicos', {}).get('descricao-diagnostico', '') }}</textarea>
                            </div>
                        </div>
                    </section>
                    <aside class="aside-data mt-30 ml-20"> <!--Datas-->
                        <div class="mt-20">
                            <div class="col">
                                <label class="lbl-green" for="">Admissão</label>
                                <input class="input_dark_blue" type="date" name="data-admissao" value="{{ session.get('dados_medicos', {}).get('data-admissao', '') }}" required>
                            </div>
                            <div class="col mt-20">
                                <label class="lbl-green" for="">Alta</label>
                                <input class="input_dark_blue" type="date" name="data-alta" value="{{ session.get('dados_medicos', {}).get('data-alta', '') }}" required>
                            </div>
                        </div>
                    </aside>
                </section>

                <section class="row horizontal-center"> <!--Parte de baixo-->
                    <article class="aside-meds mt-20 mr-20"> <!--Lembretes de Medicações-->
                        <h3 class="lbl-white fs-16 fs-normal text-rgt">Medicações Prescritas</h3>
                        <div class="col">
                            <div class="d-flex vertical-center mt-20">
                                <div class="col mr-20">
                                    <label class="lbl-green fs-14 ml-10" for="">Medicamento</label>
                                        <input class="input_med" type="text" name="medicamento-prescrito[]" >
                                </div>
                                <div class="col">
                                    <label for=""  class="lbl-green fs-14 ml-10">Qtde</label>
                                    <input class="input_n_med" type="number" name="qtde-medicamento[]">
                                </div>
                                <img class="icon-add" onclick='removerParagrafo(this.parentNode)' src="{{ url_for('static', filename='imgs/icons/delete.svg') }}" alt="Icone Deletar">
                            </div>
                            <div id="novo-medicamento"></div>
                        </div>
                        <div id="add-medicamento" class="row">
                            <img class="icon-add" src="{{ url_for('static', filename='imgs/icons/add-green-icon.svg') }}" alt="Icone Adicionar">
                            <label class="lbl-green fs-14 ml-10 fs-normal align-self" for="">Adicionar Medicação</label>
                        </div>
                    </article>

                    <article class="aside-meds mt-20"> <!--Adicionar Lembretes de Medicações-->
                        <h2 class="lbl-white fs-16 text-rgt fs-normal">Adicionar Lembretes de Medicações</h2>
                        <div>
                            {% if lembretes %}
                                {% for lembrete in session['lembretes_medicamentos'] %}]
                                <div class="d-flex mt-20">
                                    <div class="col mr-20">
                                        <label class="lbl-green fs-14 ml-10" for="">Hora</label>
                                        <input class="hr" type="time" name="hora-lembrete[]" value="{{ lembrete[0] }}">
                                    </div>
                                    <div id="select-medicamento" class="col">
                                        <label class="lbl-green fs-14 ml-10" for=""> Medicamento </label> <!--Select dos medicamentos-->
                                        <select id="" class="input_med lbl-white" name="lembrete-medicamento[]">
                                            {% for medicamento in medicamentos %}
                                                <option class="lbl-green" value="{{ medicamento }}" {% if lembrete[1] == medicamento %}selected{% endif %}>{{ medicamento }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                    </div>
                                    <img class="icon-add" onclick='removerParagrafo(this.parentNode)' src="{{ url_for('static', filename='imgs/icons/delete.svg') }}" alt="Icone Deletar">
                                </div>
                                {% endfor %}

                                {% else %}
                                <div class="d-flex mt-20">
                                    <div class="col mr-20">
                                        <label class="lbl-green fs-14 ml-10" for="">Hora</label>
                                        <input class="hr" type="time" name="hora-lembrete[]">
                                    </div>
                                    <div id="select-medicamento" class="col">
                                        <label class="lbl-green fs-14 ml-10" for=""> Medicamento </label> <!--Select dos medicamentos-->
                                        <select id="" class="input_med lbl-white" name="lembrete-medicamento[]">
                                            {% for medicamento in medicamentos %}
                                                <option class="lbl-green" value="{{ medicamento }}">{{ medicamento }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <img class="icon-add" onclick='removerParagrafo(this.parentNode)' src="{{ url_for('static', filename='imgs/icons/delete.svg') }}" alt="Icone Deletar">
                                </div>
                                {% endif %}
                                
                            <div id="novo-lembrete"></div>
                        </div>
                        <div class="row" id="add-lembrete">
                            <img class="icon-add" src="{{ url_for('static', filename='imgs/icons/add-green-icon.svg') }}" alt="Icone Adicionar">
                            <label class="lbl-green fs-14 ml-10 fs-normal align-self" for="">Adicionar Lembrete</label>
                        </div>
                    </article>
                </section>
            </section>

            <section class="d-flex horizontal-center mt-30"> <!--Aqui os botoes-->
                <a href="/paciente-dados" class="btn-font button btn-border-green mr-20">Voltar</a>
                <button class="btn-font-blue button btn-green mr-20" type="submit" name="salvar">Salvar</button>
                <button class="btn-font button btn-border-green mr-20" type="submit">Próximo</button>
            </section>
        </form>
        {{ progress_bar() | safe }}
    </main>
</div>

{% include 'blades/footer.html' %}