<div class='d-flex vertical-center mt-20'>
    <div class='col mr-20'>
        <label class='lbl-green fs-14 ml-10' for=''>Medicamento</label>
        <div class='row'>
            <img class='icon-add' src='{{ url_for('static', filename='imgs/icons/add-green-icon.svg') }}' alt='Icone Adicionar'>
            <input class='input_med' type='text' name='medicamento-prescrito'>
        </div>

    </div>
    <div class='col'>
        <label for=''  class='lbl-green fs-14 ml-10'>Qtde</label>
        <input class='input_n_med' type='number' name='qtde-medicamento'>
    </div>
    <img class='icon-add' onclick='removerParagrafo(this.parentNode)' src='{{ url_for('static', filename='imgs/icons/delete.svg') }}' alt='Icone Deletar'>
</div>