/*Sidebar*/

.sidebar{
    position: sticky;
    top: 0;
    height: 100vh;
    min-height: 556px;
    padding: 24px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-item);
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.4px;
}

#sidebar-expanded{
    width: 256px;
}

#sidebar-collapsed{
    width: 70px;
    align-items: center;
}

:is(.sidebar-expand, .sidebar-collapse){
    width: 28px;
    min-width: 28px;
    height: 28px;
    min-height: 28px;
    border: 1px solid var(--sidebar-item);
    border-radius: 8px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-item-light);
}

:is(.sidebar-expand:hover, .sidebar-collapse:hover){
    background-color: var(--sidebar-item-hover);
    transform: scale(1.1);
}

.sidebar-expand{
    margin-left: -2px;
}

:is(.sidebar-header, .sidebar-content, .sidebar-footer){
    width: 100%;
}

#sidebar-collapsed:is(.sidebar-header, .sidebar-content, .sidebar-footer), .sidebar-config, .sidebar-bottom{
    align-items: center;
    justify-content: center;
    align-content: center;
}

#sidebar-collapsed > .sidebar-content > .sidebar-title{
    margin: auto;
}

.sidebar-title{
    margin: 2px 0;
    font-size: 10px;
}

.user_image{
    width: 44px;
    height: 44px;
    margin-right: 12px;
    border-radius: 50%;
}

.user_name{
    margin: 2px 0;
    font-size: 14px;
    color: var(--sidebar-item-light);
}

.sidebar-line{
    width: 100%;
    height: 1px;
    margin: 24px 0;
    border: 1px solid var(--sidebar-item);
}

#sidebar-collapsed .sidebar-link{
    height: 44px;
    width: 44px;
    padding: 0;
    justify-self: center;
    align-self: center;
}

#sidebar-collapsed .icon{
    margin: auto;
}

.sidebar-link{
    padding: 10px 12px;
    border-radius: 4px;
}

.sidebar-link:nth-child(2){
    margin-top: 10px;
}

.sidebar-link:hover{
    background-color: var(--sidebar-item-hover);
}

.sidebar-foot{ 
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.sidebar-link:has(#logoutIcon){
    margin: 0;
    color: var(--sidebar-color-logout);
}

/*Sidebar - Fim*/
.dashboard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
    grid-template-areas: 
        "daily-record daily-record welcome welcome welcome"
        "daily-record daily-record annual-record annual-record annual-record"
        "form-answers form-answers annual-record annual-record annual-record"
        "patients-active patients-crisis monthly-record monthly-record monthly-record"
        "patients-new patients-crisis monthly-record monthly-record monthly-record";
    gap: var(--dashboard-gap);
}

.card{
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card .title{
    font-size: 16px;
    color: var(--bg-primary);
}

#daily-record{
    grid-area: daily-record;
    padding: var(--dashboard-gap);
}

.graph{
    width: 100%;
    max-height: 80%;
}

#annual-record{
    grid-area: annual-record;
}

#monthly-record{
    grid-area: monthly-record;
}

#form-answers{
    grid-area: form-answers;
}

#patients-crisis{
    grid-area: patients-crisis;
}

#patients-crisis{
    grid-area: patients-active;
}

#patients-crisis{
    grid-area: patients-active;
}

/*Card de Bem-vindo*/
.welcome-card{
    grid-area: welcome;
    padding: 1rem 2rem;
    color: var(--color-gray);

    background: var(--welcome-card-bg);
    border-radius: 10px;
}

.welcome-card .title{
    font-size: 23px;
    margin-bottom: 0.5rem;
    color: inherit;
}

.welcome-card .subtitle{
    line-height: 19px;
    font-size: 13px;
}

.subtitle:has(+ .welcome-card_link){
    margin-bottom: 2.5rem;
}

:is(.subtitle + .welcome-card_link){
    color: var(--color-green);
}

.welcome-card em{
    font-style: normal;
    color: var(--color-white);
}

.welcome-card_link{
    font-size: 10px;
    color: var(--color-white);
}

.welcome-card_link:hover{
    color: var(--color-green);
}