@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --bg-primary: #023047;
    --color-white: #fff;
    --color-black: #000000;
    --color-gray: #CED5DC;
    --color-green: #71DDB1;
    --color-light-blue: rgba(255, 255, 255, 0.1);

    --sidebar-bg: #161A23;
    --sidebar-item:  rgba(255, 255, 255, 0.5);
    --sidebar-item-light: rgba(255, 255, 255, 0.8);
    --sidebar-item-hover: #2D2F39;
    --sidebar-color-logout: #CC8889;

    --welcome-card-bg: linear-gradient(270deg, #45C4B0 -9.55%, #284F63 50%);

    --dashboard-gap: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:where(a, ul, ol, li){
    list-style: none;
    color: inherit;
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    font-family: 'Poppin', sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: var(--bg-primary);
}

.header{
    margin-bottom: calc(2 * var(--dashboard-gap));
}

.wrapper{
    max-width: 100%;
    margin: 0 auto;
}

.container{
    padding: 2.3rem;
}

.title{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
}


/*figures*/
.meditateFig{
    position: relative;
    height: 170px;
}

/*Icones*/
.icon{
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background-repeat: no-repeat;
    background-size: contain;
}

.homeIcon{
    background-image: url(../imgs/icons/homeIcon.svg);
}

.patientIcon{
    background-image: url(../imgs/icons/patientIcon.svg);
}

.newPatientIcon{
    background-image: url(../imgs/icons/newPatientIcon.svg);
}

.notificationIcon{
    background-image: url(../imgs/icons/notificationIcon.svg);
}

.chatIcon{
    background-image: url(../imgs/icons/chatIcon.svg);
}

.configIcon{
    background-image: url(../imgs/icons/configIcon.svg);
}

.helpIcon{
    background-image: url(../imgs/icons/helpIcon.svg);
}

.logoutIcon{
    background-image: url(../imgs/icons/logoutIcon.svg);
}


/*Classes Globais*/
.d-none{
    display: none !important;
}

.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.vertical-center{
    align-items: center;
    align-content: center;
}

.vertical-start{
    align-items: start;
}

.vertical-end{
    justify-content: end;
}

.horizontal-center{
    justify-content: center;
}

.horizontal-start{
    justify-content: start;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.w-auto{
    flex-grow: 1;
    flex-shrink: 0;
}

.border{
    border: 1px solid var(--sidebar-item-light);
}

a{
    text-decoration: none;
}

.btn-border-green{
    border: 1px solid #71DDB1;
    border-radius: 100px;
    background-color: var(--bg-primary);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-border-green:hover{
    background-color: var(--color-green);
}

.btn-green{
    border-radius: 100px;
    background-color: var(--color-green);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    border: none;
    /* padding-left: 40px;
    padding-right: 40px; */
}

.btn-green:hover{
    box-shadow: 1px 0px 63px -8px rgba(0,255,238,1);
    transform: scale(1.1);
}

.btn-font{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
}

.mr-20{
    margin-right: 20px;
}

.mt-10{
    margin-top: 10px;
}

.lbl-green{
    color: var(--color-green);
}

.lbl-white{
    color: var(--color-white);
}

.fs-20{
    font-size: 20px;
}

.fs-16{
    font-size: 16px;
}

.fs-14{
    font-size: 14px;
}

.fs-10{
    font-size: 10px;
}




