.body-margin{
    margin: 0;
}

.main-login{
    max-width: 100vw;
    display: flex;
    color: #ffffff;
}

.side-left{
    /* background-color: aqua; */
    padding: 50px;
    justify-self: center;
    justify-content: center;
    /* border: #45C4B0 1px solid; */
}

.side-right{
    height: 100vh;
    margin-bottom: 0;
    background-image: url("../imgs/figures/img-lateral.png");
    max-width: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-login{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: blueviolet; */
}

.form-login{
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.btn-login{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background-color: #45C4B0;
    border: none;
    border-radius: 100px;
    justify-self: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.txt-login{
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    background: rgba(217, 217, 217, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.49);
    border-radius: 100px;
    color: #ffffff;
    padding-left: 10px;
}

.p-senha{
    padding-left: 10px;
    font-size: small;
    font-weight: lighter;
}

:is(.side-left, .side-right){
    width: 50vw;
}

/* .img-lateral{
    width: 100%;
    height: 100vh;
} */

.logo{
    width: 200px;
    height: auto;
}

.div-copy{
    position: fixed;
    bottom: 20px;
    /* background-color: #0b0b0b; */
}

.p-copy{
    font-style: normal;
    font-weight: lighter;
    font-size: smaller;
}

.span-copy{
    color: var(--color-green);
}