@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --bg-primary: #023047;
    --color-white: #fff;
    --color-gray: #CED5DC;
    --color-green: #71DDB1;

    --sidebar-bg: #161A23;
    --sidebar-item:  rgba(255, 255, 255, 0.5);
    --sidebar-item-light: rgba(255, 255, 255, 0.8);
    --sidebar-item-hover: #2D2F39;
    --sidebar-color-logout: #CC8889;

    --welcome-card-bg: linear-gradient(270deg, #45C4B0 -9.55%, #284F63 50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:where(a, ul, ol, li){
    list-style: none;
    color: inherit;
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    font-family: 'Poppin', sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: var(--bg-primary);
}

.header{
    margin-bottom: 4rem;
}

.wrapper{
    max-width: 100%;
    margin: 0 auto;
}

.container{
    padding: 2.3rem;
}

.title{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
}

/*Sidebar*/

.sidebar{
    position: sticky;
    top: 0;
    height: 100vh;
    min-height: 556px;
    padding: 24px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-item);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.4px;
}

#sidebar-expanded{
    width: 256px;
}

#sidebar-collapsed{
    width: 92px;
    align-items: center;
}

:is(.sidebar-expand, .sidebar-collapse){
    width: 28px;
    min-width: 28px;
    height: 28px;
    min-height: 28px;
    border: 1px solid var(--sidebar-item);
    border-radius: 8px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-item-light);
}

:is(.sidebar-expand:hover, .sidebar-collapse:hover){
    background-color: var(--sidebar-item-hover);
    transform: scale(1.1);
}

.sidebar-expand{
    margin-left: -2px;
}

:is(.sidebar-header, .sidebar-content, .sidebar-footer){
    width: 100%;
}

#sidebar-collapsed:is(.sidebar-header, .sidebar-content, .sidebar-footer), .sidebar-config, .sidebar-bottom{
    align-items: center;
    justify-content: center;
    align-content: center;
}

#sidebar-collapsed > .sidebar-content > .sidebar-title{
    margin: auto;
}

.sidebar-title{
    margin: 2px 0;
    font-size: 10px;
}

.user_image{
    width: 44px;
    height: 44px;
    margin-right: 12px;
    border-radius: 50%;
}

.user_name{
    margin: 2px 0;
    font-size: 14px;
    color: var(--sidebar-item-light);
}

.sidebar-line{
    width: 100%;
    height: 1px;
    margin: 24px 0;
    border: 1px solid var(--sidebar-item);
}

#sidebar-collapsed .sidebar-link{
    height: 44px;
    width: 44px;
    padding: 0;
    justify-self: center;
    align-self: center;
}

#sidebar-collapsed .icon{
    margin: auto;
}

.sidebar-link{
    padding: 10px 12px;
    border-radius: 4px;
}

.sidebar-link:nth-child(2){
    margin-top: 10px;
}

.sidebar-link:hover{
    background-color: var(--sidebar-item-hover);
}

.sidebar-foot{ 
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.sidebar-link:has(#logoutIcon){
    margin: 0;
    color: var(--sidebar-color-logout);
}

/*Sidebar - Fim*/
.dashboard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "daily-record daily-record welcome welcome welcome"
        "daily-record daily-record annual-record annual-record annual-record"
        "form-answers form-answers annual-record annual-record annual-record"
        "patients-active patients-crisis monthly-record monthly-record monthly-record"
        "patients-new patients-crisis monthly-record monthly-record monthly-record";
    gap: 32px;
}

.card{
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card .title{
    font-size: 16px;
    color: var(--bg-primary);
}

#daily-record{
    grid-area: daily-record;
}

#annual-record{
    grid-area: annual-record;
}

#monthly-record{
    grid-area: monthly-record;
}

#form-answers{
    grid-area: form-answers;
}

#patients-crisis{
    grid-area: patients-crisis;
}

#patients-crisis{
    grid-area: patients-active;
}

#patients-crisis{
    grid-area: patients-active;
}

/*Card de Bem-vindo*/
.welcome-card{
    grid-area: welcome;
    padding: 1rem 2rem;
    color: var(--color-gray);

    background: var(--welcome-card-bg);
    border-radius: 10px;
}

.welcome-card .title{
    font-size: 23px;
    margin-bottom: 0.5rem;
    color: inherit;
}

.welcome-card .subtitle{
    line-height: 19px;
    font-size: 13px;
}

.subtitle:has(+ .welcome-card_link){
    margin-bottom: 2.5rem;
}

.welcome-card em{
    font-style: normal;
    color: var(--color-white);
}

.welcome-card_link{
    font-size: 10px;
    color: var(--color-green);
}

/*figures*/
.meditateFig{
    position: relative;
    height: 170px;
}

/*Icones*/
.icon{
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background-repeat: no-repeat;
    background-size: contain;
}

.homeIcon{
    background-image: url(../imgs/icons/homeIcon.svg);
}

.patientIcon{
    background-image: url(../imgs/icons/patientIcon.svg);
}

.newPatientIcon{
    background-image: url(../imgs/icons/newPatientIcon.svg);
}

.notificationIcon{
    background-image: url(../imgs/icons/notificationIcon.svg);
}

.chatIcon{
    background-image: url(../imgs/icons/chatIcon.svg);
}

.configIcon{
    background-image: url(../imgs/icons/configIcon.svg);
}

.helpIcon{
    background-image: url(../imgs/icons/helpIcon.svg);
}

.logoutIcon{
    background-image: url(../imgs/icons/logoutIcon.svg);
}


/*Classes Globais*/
.d-none{
    display: none !important;
}

.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.vertical-center{
    align-items: center;
    align-content: center;
}

.vertical-start{
    align-items: start;
}

.vertical-end{
    justify-content: end;
}

.horizontal-center{
    justify-content: center;
}

.horizontal-start{
    justify-content: start;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.w-auto{
    flex-grow: 1;
    flex-shrink: 0;
}

.border{
    border: 1px solid var(--sidebar-item-light);
}